---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Projectlist from '../components/ProjectListHome.astro';
---

<Layout title="Ninternational">
	<Header></Header>
	<Hero></Hero>
	<main>
		<Projectlist></Projectlist>
		<h3>What is Ninternational?</h3>
		<p>You are a fan-translator working on a Nintendo game? Ninternational is a fan-translation repository all about Nintendo games from all platforms. You can submit your translation on our website, to get more visibility and help from a dedicated community.<br>If you're interested, join our Discord!</p>
	</main>
	<Footer></Footer>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: #000;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
