---
const {buttonTitle, downloadLink} = Astro.props;
---

<a href={`${downloadLink}`}>
    <i class="fa-solid fa-download"></i>
    <span>{buttonTitle}</span>
</a>

<style>
    a {
        background-color: #E86866;
        display: flex;
        gap: 1rem;
        color: #000;
        align-items: center;
        padding: 0.8rem 1.2rem 0.8rem 1.2rem;
        border-radius: 0.5rem;
        justify-content: center;
        text-decoration: none;
        width: 30%;
    }

    @media (max-width: 630px) {
        a {
            width: 20rem;
        }
    }
</style>