---
const { tag } = Astro.props;
import ISO6391 from 'iso-639-1';
---

<button data-type={tag} id="blogFilter">
    {tag.startsWith('en-') ? `English (${tag.slice(3)})` : tag.startsWith('pt-') ? `Português (${tag.slice(3)})` : ISO6391.getNativeName(tag)}
</button>