---
import Nav from "./Nav.astro"
import NavMenu from "./Navmenu.astro"
---

<header
  x-data="{navmobile: false, atTop: false}"
  @scroll.window="atTop = ( window.scrollY > 150 ? false : true )"
  :class="{ 'header__atTop' : !atTop }"
>
  <div>
    <a href="/"><img src="/favicon.svg" alt="Ninternational Logo"/></a>
    <Nav></Nav>
  <button
    class="burger"
    :class="navmobile && 'navmobile-open'"
    @click="navmobile = ! navmobile"
  >
    <span class="burger__line line1"></span>
    <span class="burger__line line2"></span>
    <span class="burger__line line3"></span>
  </button>
  </div>
  
  <NavMenu class="navmobile"></NavMenu>
</header>
<style>
  header {
    width: calc(100% - 4rem);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    

    padding: 1rem 2rem;
    z-index: 2;

    transition: all 0.5s ease;
  }

  header > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 3.5rem;
  }

  .burger {
    display: none;
    z-index: 3;
  }

  .burger__line {
    width: 2rem;
    height: 0.2rem;
    background-color: #000;
    border-radius: 1rem;
    transition: all 0.5s ease;
  }

  .navmobile-open .line1 
  .navmobile-open .line1::before,
  .navmobile-open .line1::after {
    transform: rotate(45deg);
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navmobile-open .line2 
  .navmobile-open .line2::before,
  .navmobile-open .line2::after {
    transform: scaleY(0);
    transition: transform 0.4s ease-in-out;
  }

  .navmobile-open .line3
  .navmobile-open .line3::before,
  .navmobile-open .line3::after {
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
  }

  .nav__mobile {
    display: flex;
    flex-direction: column;
  }

  .nav__mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }

  @media screen and (max-width: 630px) {

    .burger {
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    @media (max-width: 630px) {
      .header__atTop {
    background-color: #e9e9e9c0;
    }

    
    }
    
  }
</style>
