---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Projectlist from "../../components/ProjectListHome.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("pl");
---

<Layout
  title={`${t("pages_names.home")} - Ninternational`}
  description={t("hero.subtitle")}
  img=""
  lang={i18next.language}
>
  <Header />
  <Hero />
  <main>
    <Projectlist />
    <h3>{t("about.title")}</h3>
    <p>{t("about.subtitle")}</p>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    color: #000;
    font-size: 20px;
    line-height: 1.6;
    animation: enter 1s ease 0s 1 normal forwards;
  }

  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
</style>
